@media (prefers-color-scheme: dark) {
	body, input {
		background: #000;
		color: #ccc;
	}
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#div_shared {
	height: 100%;
	width: fit-content;
	margin: 0 auto 0 auto;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
}

#div_shared {
	background: #111;

	height: 100%;
	width: fit-content;
	margin: auto;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
}

#div_shared, #div_shared button {
	font-family: monospace, monospace;
}

#div_shared header, #div_shared footer {
	display: flex;
	justify-content: space-between;
}

#div_shared header div, #div_shared footer div {
	white-space: nowrap;
	display: block;
	margin: 0;
}

#div_shared header div:last-child, #div_shared footer div:last-child {
	margin: 0 0 0 1em;
}

#div_shared main {
	height: 100%;
}

#div_shared main video {
	max-width: 100%;
}

#div_shared main embed {
	width: 100vw;
}

#div_shared img {
	object-fit: contain;
	width: 100%;
}

#share_uid {
	font-family: monospace, monospace;
}

time {
	font-family: monospace;
}

[hidden] {
	display: none !important;
}
